.titulo {
    text-align: center;
    font-size: 1cm;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.subtitulo {
    text-align:left;
    font-size: 15px;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.conteudo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.resposta {
    position: relative;
    left: 16.5cm;
    font-size: 25px;
    color: gold;
    background-color: black;
}
.input {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
.button {
    position:absolute;
    left: 19cm;
}
.autor {
    font-size: 15px;
    width: 5cm;
    height: 5cm;
}